OOP/Lab6-7/app
OOP/Lab6-7/tests/coverage*
OOP/Lab8-9/app
OOP/Lab8-9/tests/coverage*
OOP/Lab8-9/*.html
OOP/Lab9/app
OOP/Lab9/tests/coverage*
OOP/Lab9/*.html
OOP/Lab10-11/qt-project/Lab10-11/build/Desktop-Debug/*
OOP/VectorDinamicCPP/x64
OOP/VectorDinamicCPP/VectorDinamicCPP.sln
OOP/VectorDinamicCPP/VectorDinamicCPP/app
OOP/VectorDinamicCPP/VectorDinamicCPP/compile
GRA/Lab 3/1/*.txt
GRA/Lab 3/2/*.txt
GRA/Lab 4/*.txt
GRA/Partial 1/problem
SDA/Lab 4/Liste inlantuite_inlantuiri pe tablou.pdf
SDA/Lab 4/app

