OOP/Lab6-7/app
OOP/Lab6-7/tests/coverage*
OOP/Lab8-9/app
OOP/Lab8-9/tests/coverage*
OOP/Lab8-9/*.html
OOP/Lab9/app
OOP/Lab9/tests/coverage*
OOP/Lab9/*.html
OOP/Lab10-11/qt-project/Lab10-11/build/Desktop-Debug/*
OOP/Lab13-14/qt-project/Lab13-14/build/Desktop-Debug/*
OOP/VectorDinamicCPP/x64
OOP/VectorDinamicCPP/VectorDinamicCPP.sln
OOP/VectorDinamicCPP/VectorDinamicCPP/app
OOP/VectorDinamicCPP/VectorDinamicCPP/compile
OOP/Simulare OOP/Simulare_OOP_Ghidel_213.zip
GRA/**/*.txt
GRA/Partial 1/problem
GRA/Lab 5/1/run
SDA/Lab 4/Liste inlantuite_inlantuiri pe tablou.pdf
SDA/Lab 4/app
SDA/Lab 6/app
SDA/Lab 6/*pdf
SDA/Lab 7/app
OOP/Simulare OOP/Simulare_OOP_Ghidel_213