.idea/
compilare/
compilare-coverage/
compilare-refactor/
compilare-refactor-coverage/
compilare-refactor-coverage2/
compilare-warnings/
compilare-werror/
build
build-tests
run
run-with-data
*.zip
*:Zone.Identifier
*.gcda
*.gcno
*.o
*.o.d
coverage.*
*.html
*.css
*.js
